@import 'ckeditor-tailwind-reset/ckeditor-tailwind-reset';

@font-face {
    font-family: 'Zasque';
    src: url('/public/ZasquePersonalUseOnly-LVEzW.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


